body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  font-family: Norwester;
  color: white;
  flex-grow: 1;
  align-items: center;
  margin-top: 5vh;
}

.number {
  font-size: 9em;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#separator {
  animation: flash 1s steps(20, start) infinite;
  font-size: 8em;
  padding-bottom: 4vh;
  margin-left: 0;
  margin-right: 0;
}

@keyframes flash {
  20%{
  opacity: 0;
}
  80%{
    opacity: 0;
  }

}

.menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: Telegrafico;
  justify-content: center;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 2vh;
  opacity: 0.5;
  position: relative;
  min-width: 7vw;
}
.button:hover{
  opacity: 1;
}
.button::after{
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 0.5vh solid white;
  height: auto;
  width: 100%;
  transition: ease-out 0.2s;
}
.button::before{
  z-index: -2;
  content: "";
  position: absolute;
  bottom: 0;
  height: 90%;
  width: 100%;
  transform: scaleY(0);
  transition: ease-out 0.2s;
  transform-origin: bottom center;
}
.button:hover::before{
  transform: scaleY(1);
  transition: ease-out 0.4s;
  transform-origin: bottom center;
}
.news:hover::after{
  border-bottom: 0.5vh solid #4A90E2;
}
.news:hover::before{
  background-color: #305F95;
}
.social:hover::after{
  border-bottom: 0.5vh solid #F5A623;
}
.social:hover::before{
background-color: #B47A1B;
}
.media:hover::after{
  border-bottom: 0.5vh solid #FF314A;
}
.media:hover::before{
  background-color: #AD2435;
}
.download:hover::after{
  border-bottom: 0.5vh solid #50E3C2;
}
.download:hover::before{
  background-color: #3CA990;
}
.dropbtn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  cursor: default;
  opacity: 0;
  width: 100%;
}
.button:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
  cursor: default;
  opacity: 1;
  transition: ease-out 0.6s;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  opacity: 0.5;
}

.dropdown-content a:hover {
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  background-color: rgba(0,0,0,0.5);
  transition: ease-out 0.3s;
  width: 85%;
  transform: scale(1.1);
}
